* {
 	background-color: #fff !important;
 	background-image: none !important;
	color: #000 !important; 
	font-family: 'Arial', Helvetica, sans-serif !important;
	opacity: 1 !important;
} 

section, nav, header, footer, article, h1, h2, h3, h4, h5, h6 {
	border: 1px solid #000 !important;
}

img {
	opacity: 0.1 !important;
}

.font-size-override {
	font-size: 14px !important;
	line-height: 16px !important;
}